@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
html {
    font-family: 'Oswald', sans-serif;
}
}

#ball{
    height: 40px;
    width: 30px;
}

#profilepic{
    width: 300px;
    height: 300px;
}

#footerskill{
    width: 240px;
    height: 260px;
    perspective: 1000px;
    transform: rotateY(180deg);
    transition: transform 0.8s;
    transform-style: preserve-3d;
}