*{
margin: auto;
padding: 0;
text-align: center;
}

#header{
background-color: rgb(38, 77, 1);
color: cornsilk;
box-shadow: 0 3px 6px rgb(210, 78, 78);
}

#copy {
  color: rgb(90, 90, 175);
  position: absolute;
  text-align: center;
  bottom: 0;
  height: 30px;
  width: 100%;
}

.note{
  margin-top: 10px;
  margin-left: 5px;
  background-color: rgb(38, 77, 1);
  border-radius: 3px;
  width: 400px;
  height: 80px;
  float: left;
  box-shadow: 0 2px 5px rgb(59, 53, 53);
}

.note h2{
  color: cornsilk;
}

.note p{
  color: cornsilk;
}